.container{
  max-width: 400px;
  min-height: 450px;
  margin: 0 auto;
  background-image: url(./images/backgroundimage.jpg);
  box-shadow: 0 0 10px gray;
  margin-top: 50px;
  padding: 15px 50px;
}

.text-center{
   text-align: center;
}

.expense-container{
  display: flex;
  justify-content: space-around;
  text-align: center;
  background-color: white;
  box-shadow: 0 0 10px gray;
}

.transaction-list{
    list-style: none;
    margin: 0;
    padding: 0;
}

.transaction-list > li{
    position: relative;
    box-shadow: 0 0 10px gray;
    padding: 10px 15px;
    background-color: white;
    margin: 5px 0;
    border-radius: 4px;
}

.transaction-list > li > .transaction {
  display: flex;
  justify-content: space-between;
}

.Price{
  float: right;
}

.history{
  margin-top: 10px;
}

.transaction-form input{
                  width: 95%;
                  margin: 10px 0;
                  padding: 5px 0;
}

.income-li {
  border-right: 5px solid green;
}

.expense-li {
  border-right: 5px solid red;
  
}

.del{
  position: absolute;
    background-color: lightcoral;
    top: 9px;
    left: -30px;
    color: white;
    cursor: pointer;
    opacity: 0.4;
    transition: opacity 0.3s ease;
    outline: -webkit-focus-ring-color auto 1px;
}

.del:hover {
    opacity: 1;
}

.Rights{
  color: black;
}